<h1> Flights </h1>

<% @flights.each do |flight| %>
  <div id="<%= flight.number %>">
    <p><b><%= flight.number %></b> <%= flight.airline.name %></p>
    <% flight.passengers.each do |passenger| %>  
      <p><%= passenger.name %> <%= form_with(url: remove_passenger_path(flight_id: flight.id, passenger_id: passenger.id), method: :delete, local: true) do |form| %>
        <%= form.submit "Remove Passenger" %>
      <% end %>
    <% end %>
  </div>
<% end %>