<% @flights.each do |flight| %>
  <div id="flight-<%=flight.id%>">
    <p>Flight Number: <%= flight.number %></p>
    <p>Airline: <%= flight.airline.name %></p>
    <p>Passengers: </p>
    <% flight.passengers.each do |passenger| %>
      <p><%= passenger.name %></p>
      <p><%= button_to "Remove #{passenger.name}", flight_passenger_path(flight, passenger), method: :delete %></p>
    <% end %>
  </div>
<% end %>