<h1>All The Flights</h1> 

<% @flights.each do |flight| %>
  <div id="flight-<%= flight.id %>">
  <p>Flight Number: <%= flight.number %></p>
  <p>Airline: <%= flight.airline.name %></p>
  <p>Passengers:</p>
  <% if flight.passengers != nil %>
  <ul>
    <% flight.passengers.each do |passenger| %>
      <li><%= passenger.name %></li>
      <%= form_with url: "/passenger_flights", method: :delete, local: true do |f| %>
        <%= hidden_field_tag :passenger_id, passenger.id %>
        <%= hidden_field_tag :flight_id, flight.id %>
        <%= f.submit "Remove #{passenger.name} from #{flight.number}"%>
      <% end %>
    <% end %>
  </ul>
  <% end %>
  <p>....................................</p>
  </div>
<% end %>