<h1>Flights Index Page</h1>

<ul>
  <% @flights.each do |flight| %>
  <div id="flight-<%= flight.id %>">
    <li>Flight Number: <%= flight.number %> </li>
    <li>Flight Airline: <%= flight.airline.name %> </li>
    <li>Passengers <% flight.passengers.each do |passenger| %> 
      <%= passenger.name %> <%= link_to "Remove #{passenger.name}", "/flights/#{flight.id}/passengers/#{passenger.id}", method: :delete %><br>
      <% end %>
    </li><br>
  </div>
  <% end %>
</ul>